<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Please wait</div>
</div>
<app-intro></app-intro>
<section>
  <div class="container bg-white mb-5 pb-5">
    <h1 class="text-center mb-md-5">COVID-19 Affected Countries</h1>
    <div class="container">
      <div class="mx-auto">
        <div class="form-group mx-auto">
          <select name="" class="form-control" id="country" #input (change)='fetch(input.value)'>
            <option value="">Choose country</option>
            <option value="{{country}}" *ngFor="let country of countries"> {{ country }} </option>
          </select>
        </div>
      </div>
      <dashboard
        [confirmedCases]='confirmedCases'
        [recoveredCases]='recoveredCases'
        [deathsCases]='deathsCases'
        [activeCases]='activeCases'>
      </dashboard>
    </div>
    <div class="row">
        <!-- <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Date</th>
                        <th>Cases</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let cs of countrySelected; index as i '>
                        <td>{{ i + 1 }}</td>
                        <td>{{ cs.date | date }}</td>
                        <td>{{ cs.cases }}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="col-12">
          <google-chart [data]="table" [type]='linechart' style="width: 100%;"></google-chart>
        </div>
    </div>
  </div>
</section>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
