<section class="mb-5">
  <div class="container">
    <div class="row mt-5 py-5">
      <div class="col-lg-6">
        <h2>COVID-19</h2>
        <p class="font-weight-normal">
          <b>COVID-19</b> is an infectious disease caused by a newly discovered coronavirus.
          It is mainly transmitted through droplets generated when an infected person cough,sneezes or exhales.
          You can be infected by breathing in the virus if you are within close proximity of someone who has <b>COVID-19</b>,
          or by touching a contaminated surface and touch your eyes, nose or mouth.

        </p>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <!-- Featured image -->
        <div class="view overlay">
          <img class="img-fluid mx-auto" src="../../assets/images/covid-02.png" style="margin: 2em 0 0 0; width: 320px; height: auto;" alt="pandemic image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
