<!-- Section -->
<section class="lighten">
  <div class="container z-depth-1 my-3 py-1 px-4 px-lg-0">
    <h3 class="font-weight-bold text-center text-green mb-4"> COVID-19 PRE-CAUTIONS</h3>
    <div class="row mt-5">
      <div class="col-lg-6 mb-4">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <ol class="timeline">
              <li class="timeline-element">
                <p class="font-weight-bold dark-grey-text mb-3"><b>STAY</b> home as much as you can</p>
                <p class="text-muted">
                  Staying home is the most secure way of not attracting <b> COVID-19</b>
                </p>
              </li>

              <li class="timeline-element">
                <p class="font-weight-bold dark-grey-text mb-3"><b>KEEP</b> a safe distance</p>
                <p class="text-muted">
                  Maintain a safe distance from anyone who is coughing or sneezing.
                </p>
              </li>

              <li class="timeline-element">
                <p class="font-weight-bold dark-grey-text mb-3"><b>WASH</b> hands often</p>
                <p class="text-muted">
                  Clean your hands often. Use soap and water, or an alcohol-based hand rub.
                </p>
              </li>

              <li class="timeline-element">
                <p class="font-weight-bold dark-grey-text mb-3"><b>COVER</b> your cough</p>
                <p class="text-muted">
                  Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
                </p>
              </li>

              <li class="timeline-element">
                <p class="font-weight-bold dark-grey-text mb-3"><b>SICK ? </b> call <b> 114 </b></p>
                <p class="text-muted">
                  If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.
                </p>
              </li>

            </ol>

          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 pt-lg-5 mt-4">
        <h2 class="font-weight-normal text-muted"><b> The most useful resource</b></h2>
        <h5 class="font-weight-normal text-muted my-4 pl-2" style="line-height: 1.6em;">
          Confidential resources are what everyone is looking for ? well we got that for you.
          Beware app is trustworthy. Don't get left behind.
        </h5>
        <div class="row">
          <div class="col-md-6 my-3">
            <div class="media">
              <div class="badge badge-lg badge-rounded-circle badge-green">
                <span class="text-white">?</span>
              </div>
              <div class="media-body">
                <h5 class="mt-0 ml-2 text-secondary">Lifetime updates</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-3">
            <div class="media">
              <div class="badge badge-lg badge-rounded-circle badge-green">
                <span class="text-white">?</span>
              </div>
              <div class="media-body">
                <h5 class="mt-0 ml-2 text-secondary">Interim guidance</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-3">
            <div class="media">
              <div class="badge badge-lg badge-rounded-circle badge-green">
                <span class="text-white">?</span>
              </div>
              <div class="media-body">
                <h5 class="mt-0 ml-2 text-secondary">Technical guidance</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-3">
            <div class="media">
              <div class="badge badge-lg badge-rounded-circle badge-green">
                <span class="text-white">?</span>
              </div>
              <div class="media-body">
                <h5 class="mt-0 ml-2 text-secondary">Effective measures</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section -->
